@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@800&display=swap');

body {
    background-color: var(--bg-color);
    font-family: 'manrope', sans-serif;
    height: 100vh;
    width: 100%;
}